#reset{
    background-color: rgb(0, 255, 0);
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    position: absolute;
}

#reset:hover{
    background-color: rgb(117, 248, 117);
}